# Scala / sbt
target/
.bloop/
.metals/
metals.sbt
project/project/
project/target/
project/.bloop/
*.class

# VS Code
.vscode/

# Python
__pycache__/
*.pyc
*.pyo
.venv/
env/

# Prolog
*.qlf

# Sistema
.DS_Store
Thumbs.db