# Metals (Scala LSP)
.bloop/
.metals/

# sbt
target/
project/target/
project/project/

# Python
__pycache__/
*.pyc
*.pyo
.venv/
env/

# SWI-Prolog
*.qlf

# Datos generados
data/entrada/
data/salida/

# IDEs
.idea/
.vscode/
*.iml
